page-perfil {

  .conteudo {
    padding: 30px 30px;
  }

  .input3{
    border: 1px solid #b1b1b1;
    border-radius: 50px;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .sair {
    margin-left: 10px;
  }

  .btn{
    height: 45px;
  }

}
